@page
@model KittyScrambleProjectPageModel
@{
    ViewData["Title"] = "Kitty Scramble Project Page";
}
<a class="link-light" asp-area"" asp-page="/Projects">Back to Projects</a>
<h1>Kitty Scramble</h1>
<img class="img-fluid w-100 h-auto border"src="images/kitty_game.png" alt="Kitty Scramble title screen" />

<p class="pt-2">
    <i>Kitty Scramble</i> is a small top-down arcade survival game I developed while learning Unity. 
    In this game, players assume the role of a stray kitten during a zombie apocalypse. The objective 
    is to evade an unending swarm of zombies for as long as possible.
</p>
<p>
    This was one of the first games I ever created, so my primary objective was to practice basic
    fundamentals of game design. Here are some examples of the concepts I worked:
</p>
<ul>
    <li>Player control</li>
    <li>A choice of difficulty levels</li>
    <li>Particle and sound effects</li>
    <li>Interactive UI</li>
    <li>Special abilities that recharge over time</li>
</ul>

<form action="https://noahcore.itch.io/kitty-scramble" target="_blank" rel="noopener noreferrer">
    <button class="rounded-2" type="submit" style="margin:auto; display:block;">Click to Play</button>
</form>